#body{
    display: flex;
    /* background: url(assets/battlecell.jpg); */
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    align-items: flex-end;
    text-align: justify;
    min-height: 100vh;
    max-height: 100vh;
    
}

progress{
    height: 40px;
    width: 400px;
    content: "100/100";
    color:blueviolet
}
#boardBox{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(50, 205, 50, 0.142);
    justify-content: space-between;
    text-align:justify;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 20%;
    overflow: hidden;
}


#questionBox{
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    position: relative;
    justify-content: space-evenly;
    border: 10px solid rgb(98, 22, 22);
    padding: 20px;
    max-width: 50%;
    width: 40%;
    
}


#answers{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: normal;
    justify-content: space-evenly;
    border: 10px solid rgb(98, 22, 22);
    padding: 20px;
    max-width: 50%;
    width: 100%;
    flex-direction: row;
      
   }


p {
    display: flex;
    flex-wrap: wrap;
    border: 8px solid black ;
    border-radius: 10%;
    height: 20px;
    padding: 20px 0px;
    width: 50%;
    text-align: center;
    background-color: antiquewhite;
    max-width: 50%;
    overflow: hidden;  
    font-size: 2vw;
    
}

p:hover {
background-color: darkmagenta;
}

#answers p{
    width: 40%;
}


