#body{
    display: fixed;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    align-items: flex-end;
    text-align: justify;
    height: 100%
    
}
p {
    border: 2px solid black ;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    overflow: hidden;  
    font-size: 2vw;
    box-sizing: border-box;
    margin: 5px auto;
    
}
#Bars{
    position: absolute;
    width: 90%;
    height: 70%;
    visibility:hidden;
    

}
#avatar1{
    position: absolute;
    top: 10%;
    right: 60%;
}
#tudor{
    position: absolute;
    left: 10%;
    top: 5%;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 35%;
    height: 20%;
    background-color: rgb(210, 210, 210);
}
#student{
    position: absolute;
    left: 65%;
    top: 65%;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    width: 35%;
    height: 20%;
    background-color: rgb(210, 210, 210)

}
#tudor p{
    display: inline;
    box-sizing: border-box;
    border: none;
    text-decoration: underline; 
    margin: 0;
    font-size: 1.5em;

}
#student p{
    display: inline;
    box-sizing: border-box;
    border: none;
    text-decoration: underline; 
    margin: 0;
    font-size: 1.5em;
}
#character {
    padding: 0 40% 0 3%;
}
#HealthH{
    padding: 0 3% 0 10%;
}
#Player {
    padding: 0 50% 0 3%;
}
#HealthS {
    padding: 0 3% 0 50%;
}
#tudor progress{
    height: 70%;
    width: 90%;
    content: "100/100";
}

#student progress{
    height: 70%;
    width: 90%;
    content: "100/100";
}

#start{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:visible;
    position: absolute;
    left: 25%;
    top: 30%;
    height: 40%;
    background-color: rgb(210, 210, 210)
}

#endBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 25%;
    top: 30%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 0;
    width:50%;
    height: 40%;
    visibility: hidden;
    background-color: rgb(210, 210, 210)
}

#boardBox{
    display: flex;
    position: absolute;
    bottom: 2%;
    left:2%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align:justify;
    width: 97%;
    height: 35%;
    min-height: 20%;
    overflow: hidden;
    visibility: hidden
}


#questionBox{
    display: flex;
    flex-direction: column;
    align-items: normal;
    position: relative;
    justify-content: space-evenly;
    border: 5px solid black;
    border-radius: 15px;
    padding: 5px;
    max-width: 50%;
    width: 47%;
    background-color: rgb(210, 210, 210)
}

#questionNum{
    height: 30%;
    width: 95%
}
#question{
    height:70%;
    width: 95%
}

#answers{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: normal;
    justify-content: space-evenly;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 5px;
    max-width: 50%;
    width: 100%;
    flex-direction: row;
    background-color: rgb(210, 210, 210)
      
   }


#answers p:hover {
    background-color: rgb(129, 129, 129);
}

#answers p{
    box-sizing: border-box;
    width: 48%;
    height: 40%;
    padding: 5px auto;
    margin: 5px auto;
}


