#allOptions{
    display: flex;
    white-space: nowrap;
}

body{
    background-image: url(assets/medievalVillage.jpeg);
    background-size: cover;
}

#pannelBox{
    background-color: rgba(255, 0, 0, 0.313);
    margin-top: 3%;
    border: 2px solid black;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 400px;
  padding-bottom: 40%;
  border-radius: 40px;
  justify-content: space-evenly
}

#pannelBox:hover{
    background-color: rgba(255, 0, 0, 0.9);
}

#titleBoxBackground{
    text-align: center;
    border-radius: 40px;

}

h1{
    font-size: 100px ;
    text-decoration: underline;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 2%;

}

h2{
    text-align: center;
    margin: 2% 0;
    padding-bottom: 5%;
    font-size: 60px;
    font-weight: bold;
    text-decoration: underline;
}

.henry{
    height: 70%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid;
    margin-top: 2%;
    margin-bottom: 2px;
    border-radius: 20px;
}

.symbol{
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 40px;
}

.levelBoxes{
    display: flex;
    align-items: flex-end;
}

.difficulty{
    margin-top: 2%;
    text-align: center;
    font-size: 2em;
}

button{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 40px;
    padding: 10px 20px;
    margin-bottom: 1%;
    border: 0;
    color: #fff;
    background: #03c142b0;
    border: 2px solid rgb(26, 81, 32);
    font-size: 18px;
    :hover {
    transition: all .1s ease;
    }
}

button:hover{
    background-color: rgb(26, 81, 32,0.8)
}
#postBox{
    border: 2px solid rgba(0, 0, 0, 0.007);
    border-radius: 25px;
    background-color: #ffffff68;
    width: 40%;
    margin: 0 auto;
    font-size: 18px;

}

*{
    font-family: 'MedievalSharp';
}
