#backgroundBox{
    background-color: purple;
    background: url(assets/tudor_houses.jpg);
    background-size: cover;
    justify-content: center;
    border: 2px solid black;
}

#pannelBox{
    background-color: red;
    margin-top: 3%;
    border: 2px solid black;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
  padding-bottom: 40%;
  border-radius: 40px;
}

#titleBox{
    border: 2px solid black
}

#titleBoxBackground{
    background-color: limegreen;
    border: 2px solid black;
    text-align: center;
}

h1{
    font-size: 100px ;
    border: 2px solid black;
    width: 50%;
    text-align: center;
    margin: auto;
}

h2{
    text-align: center;
    font-size: 60px;
    font-family: "Bebas Neue";
    text-decoration: underline;
    font-weight: bold;
}

#henry{
    height: 550px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; 
    border: 1px solid;
    margin-top: 2%;
    margin-bottom: 2px;
    max-width: 900px; 
    border-radius: 20px;
}

#symbol{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 40px;
}
