.main{
    display: flex;
    min-height: 100vh;
    white-space: nowrap;
    
}


h1{
    font-size: 30px;
    padding-top: 5%;
    font-family: "MedievalSharp";
    position: relative;
    text-align: center;
    
}

form{
    text-align: center;
    padding: 15px 20px;

}

.container{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 20px 50px;
    
    
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: url(./assets/battlecell.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter:blur(5px);



}

.contentBox{
    max-width: 400px;
    justify-content: center;
    background-image: linear-gradient(red,yellow, green);
    width: 100%;
    height: 80%;
    margin: 30px auto;
    border-radius: 25px;
    border: 2px solid black;
   
    
}

.field {
    width: 100%;
    height: 50px; 
    outline: none;
    background-color: linen;
    border: 2px solid rgba(0,0,0,0);
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    transition: 2ms;
    border-radius: 25px;

}
label {
    font-size: 20px;
    font-family: "MedievalSharp"
}


#questionSubmit{
    width: 50%;
    height: 50px; 
    font-size: 20px;
    border-radius: 25px;
    font-family: "MedievalSharp"
}

.icon-button{
    text-decoration: none;
}

.icon-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('home.png');
    background-size: contain; /* Adjust the size to fit your image */
    background-repeat: no-repeat;
    width: 100px; /* Set the width of the button */
    height: 80px; /* Set the height of the button */
}


/*input[type="text"] {
    height: 100px; 
}
*/





/*@media screen and (max-width:850px){
    .contentBox {
     grid-template-columns: 1fr ;
    }
 }